/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveToRight {
  0% {
    transform: translateX(-80%);

    opacity: 0;
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);

    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(80%);

    opacity: 0;
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0%);

    opacity: 1;
  }
}

@keyframes scaleToNormal {
  0% {
    transform: scale(0, 0);

    opacity: 0;
  }

  100% {
    transform: scale(100%, 100%);

    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;

  font-family: "lato", sans-serif;
}

.header {
  position: relative;
  height: 90vh;

  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
}

.header__logo-box {
  padding: 20px;
}

.header__logo {
  height: 30px;
}

.header__hero {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.header__primary-heading {
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.header__primary-heading--title {
  display: block;

  font-size: 36px;
  font-weight: 400;
  letter-spacing: 20px;
  text-indent: 20px;
  line-height: 60px;

  animation: moveToRight 1s ease-in;
}

.header__primary-heading--body {
  display: block;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 7.5px;
  text-indent: 7.5px;
  line-height: 26px;

  animation: moveToLeft 1s ease-in;
}

.header__btn-box {
  margin-top: 50px;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  position: relative;

  padding: 15px 40px;

  background-color: white;

  border: none;
  border-radius: 100px;

  text-decoration: none;
  color: gray;
}

.btn--animated {
  transition: all 0.3s;

  animation: scaleToNormal 1s ease-in;
}

.btn--animated:hover {
  transform: translateY(-5%);

  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn--animated::after {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  border: none;
  border-radius: 10rem;

  background-color: white;

  transition: all 0.3s;
}

.btn--animated:hover::after {
  transform: scale(150%, 130%);

  opacity: 0%;
}
