@mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($screen-size) {
  @if $screen-size == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }

  @if $screen-size == tab {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $screen-size == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
}
