.card-primary {
  padding: 2rem 0;

  background-color: $grey-light-1;
  box-shadow: 0rem 0.3rem 0.7rem 0 rgba(0, 0, 0, 0.5);

  text-align: center;

  &__icon {
    display: inline-block;

    margin: 0 auto;

    background-image: linear-gradient(to right, $light-green, $dark-green);
    -webkit-background-clip: text;
    color: transparent;

    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;

    transition: all 0.2s;

    &:hover {
      transform: skewX(20deg) skewY(2deg) scale(1.1);
    }
  }

  &__heading {
    margin-top: 2rem;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
  }

  &__paragraph {
    margin-top: 2rem;
    padding: 0 2rem;

    text-align: center;
  }
}
