.card-primary {
  padding: 2rem 0;

  background-color: $grey-light-1;
  box-shadow: 0rem 0.3rem 0.7rem 0 rgba(0, 0, 0, 0.5);

  text-align: center;

  &__icon {
    display: inline-block;

    margin: 0 auto;

    background-image: linear-gradient(to right, $light-green, $dark-green);
    -webkit-background-clip: text;
    color: transparent;

    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 700;

    transition: all 0.2s;

    &:hover {
      transform: skewX(20deg) skewY(2deg) scale(1.1);
    }
  }

  &__heading {
    margin-top: 2rem;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
  }

  &__paragraph {
    margin-top: 2rem;
    padding: 0 2rem;

    text-align: center;
  }

  @include respond(tab) {
    max-width: 40%;
    margin: 0 auto;
  }

  @include respond(phone) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.card-rotated {
  position: relative;
  height: 50rem;
  max-width: 30rem;

  perspective: 1500px;

  &__side {
    position: absolute;
    height: 50rem;
    width: 100%;
    top: 0;
    left: 0;

    background-color: white;
    backface-visibility: hidden;

    transition: all 1s;

    &--back {
      transform: rotateY(-180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $light-green,
          $dark-green
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }

    &--img {
      height: 20rem;
      width: 100%;

      background-size: cover;
      clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
      background-blend-mode: screen;

      &-1 {
        background-image: linear-gradient(
            to right,
            $color-secondary-light,
            $color-secondary-dark
          ),
          url("../img/nat-5.jpg");
      }

      &-2 {
        background-image: linear-gradient(to right, $light-green, $dark-green),
          url("../img/nat-6.jpg");
      }

      &-3 {
        background-image: linear-gradient(
            to right,
            $color-tertiary-light,
            $color-tertiary-dark
          ),
          url("../img/nat-7.jpg");
      }
    }

    &--heading {
      position: absolute;
      top: 13rem;
      right: 3rem;
      width: 12rem;

      font-size: 2rem;
      line-height: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: white;

      &-span {
        padding: 0.5rem 1rem;

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1 {
          background-image: linear-gradient(
            to right,
            rgba($color-secondary-light, 0.85),
            rgba($color-secondary-dark, 0.85)
          );
        }

        &-2 {
          background-image: linear-gradient(
            to right,
            rgba($light-green, 0.85),
            rgba($dark-green, 0.85)
          );
        }

        &-3 {
          background-image: linear-gradient(
            to right,
            rgba($color-tertiary-light, 0.85),
            rgba($color-tertiary-dark, 0.85)
          );
        }
      }
    }

    &--details {
      margin-top: 3rem;
      padding: 0 3rem;

      list-style: none;

      &-item {
        padding: 1.5rem 0;
        margin: 0 auto;
        width: 15rem;

        font-weight: 700;
      }

      &-item:not(:last-child) {
        border-bottom: 1px solid #e9e9e9;
      }
    }

    &--price {
      position: absolute;
      top: 40%;
      left: 50%;

      transform: translate(-50%, -50%);

      &-heading {
        padding: 2rem 0;

        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
      }

      &-number {
        font-size: 6rem;
        font-weight: 500;
        text-transform: uppercase;
        color: white;
      }
    }

    &--action {
      position: absolute;
      top: 80%;
      left: 50%;

      transform: translate(-50%, -50%);

      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &:hover &__side--back {
    transform: rotateY(-360deg);
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  @include respond(tab) {
    margin: 0 auto;
    max-width: 40rem;
  }
}
