.composition {
  width: 20rem;
  height: 5rem;
  margin: 0 auto;

  &__img {
    position: absolute;
    width: 20rem;

    &:hover {
      transform: scale(1.2);

      outline: 1rem solid blue;
      outline-offset: 1rem;

      z-index: 1;
    }

    &--1 {
      top: 0;
      left: 0;

      @include respond(tab) {
        top: -5rem;
        left: -6rem;
      }
    }

    &--2 {
      top: 3rem;
      left: 15rem;

      @include respond(tab) {
        top: -2rem;
        left: 7rem;
      }
    }

    &--3 {
      top: 7rem;
      left: 7rem;

      @include respond(tab) {
        top: 2rem;
        left: 1rem;
      }
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.9);
  }

  @include respond(tab) {
    margin: 10rem auto 0 auto;
  }
}
