* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(large) {
    font-size: 75%;
  }

  @include respond(tab) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 37.5%;
  }
}

body {
  padding: 2rem;

  font-family: "lato", sans-serif;
  color: $grey-dark;

  @include respond(large) {
    padding: 3rem;
  }

  @include respond(tab) {
    padding: 0;
  }

  @include respond(phone) {
    padding: 0;
  }
}
