.heading-primary {
  display: block;

  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  text-indent: 2rem;
  line-height: 6rem;

  animation: moveToRight 1s ease-in;
}

.heading-secondary {
  display: block;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.75rem;
  text-indent: 0.75rem;
  line-height: 2.6rem;

  animation: moveToLeft 1s ease-in;
}
