.heading-primary {
  display: block;

  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  text-indent: 2rem;
  line-height: 6rem;

  animation: moveToRight 1s ease-in;

  @include respond(tab) {
    letter-spacing: 1rem;
    text-indent: 1rem;
    line-height: 8rem;
  }

  @include respond(phone) {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    line-height: 6rem;
  }
}

.heading-secondary {
  display: block;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.75rem;
  text-indent: 0.75rem;
  line-height: 2.6rem;

  animation: moveToLeft 1s ease-in;

  @include respond(tab) {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    line-height: 3rem;
  }

  @include respond(phone) {
    letter-spacing: 0.25rem;
    text-indent: 0.25rem;
    line-height: 2.6rem;
  }
}

.heading-background {
  display: inline-block;

  background-image: linear-gradient(to right, $light-green, $dark-green);
  -webkit-background-clip: text;
  color: transparent;

  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;

  transition: all 0.2s;

  &:hover {
    transform: skewX(20deg) skewY(2deg) scale(1.1);
  }
}

.heading-tertiary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
}
