.about {
  margin-top: -10vh;
  padding: 15rem 0 5rem 0;

  background-color: $grey-light-1;

  &__heading {
    text-align: center;
  }

  &__body {
    padding: 10rem 10rem;

    &--paragraph {
      max-width: 40rem;

      @include respond(tab) {
        margin: 2rem auto 0 auto;
      }
    }

    @include respond(tab) {
      padding: 5rem 10rem 20rem 10rem;
    }
  }
}

.features {
  height: 90vh;
  margin-top: -10vh;

  background-image: linear-gradient(
      to right bottom,
      rgba($light-green, 0.8),
      rgba($dark-green, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;

  transform: skewY(-5deg);

  &__content {
    position: absolute;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);

    @include respond(tab) {
      top: 54%;
    }

    @include respond(phone) {
      top: 52%;
    }
  }

  & > div {
    transform: skewY(5deg) translate(-50%, -50%);
  }

  @include respond(tab) {
    height: 100vh;
  }

  @include respond(phone) {
    height: 80vh;
  }
}

.tours {
  margin-top: -10vh;
  padding: 20vh 0 10vh 0;

  background-color: $grey-light-1;

  text-align: center;

  &__body {
    margin: 10rem auto;
    max-width: 95rem;

    @include respond(tab) {
      margin: 5rem auto 0 auto;
    }
  }
}

.stories {
  position: relative;
  padding: 8rem 0;

  &__heading {
    text-align: center;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.3;

    &--video {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.bookings {
  position: relative;
  width: 100%;
  height: 90vh;
  padding: 5rem 0;

  background-image: linear-gradient(to right bottom, $light-green, $dark-green);
}
